
    /* Reset */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Segoe UI', Tahoma, sans-serif;
      line-height: 1.6;
      color: #333;
      background: #fff;
    }

    /* Header Section */
    header {
      text-align: center;
      padding: 3rem 1rem;
      background: black;
      align-items: left;
    }

    header img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      object-fit: cover;
      margin-bottom: 1rem;
      border: 3px solid silver;
    
    }

     .fresco {
      font-size: 2rem;
      font-weight: bold;
      color: white;
    }

    header h1 {
      font-size: 2rem;
      font-weight: bold;
    }

    header p {
      font-size: 1.2rem;
      color: #666;
    }

    /* About Section */
    section {
      padding: 2rem 1rem;
      max-width: 800px;
      margin: auto;
    }

    section h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    section p {
      margin-bottom: 1rem;
      text-align: justify;
    }

