*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.firstSection {
    width: 100%;
    height: 100vh;
    background-color: blue;
}

.hrline {
    width: 10px;
    height: 50px;
    background-color: black;
}




/* .container{
    width: 100%;
    height: 100%;
    display: flex;
    margin: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.mainDiv {
    width: 400px;
    height: 500px;
    background-color: red;
    border-radius: 15px;
    margin-top: 20px;
} */